@import "tailwindcss";

:root {
  --bg-main: #E8E8E8;
  --text-primary: #212121;
  --invert: 0;
}

[data-theme="dark"] {
  --bg-main: #212121;
  --text-primary: #E8E8E8;
  --text-secondary: #212121;
  --invert: 90%;
}
.dark-theme{
  background: #212121;
  color: #E8E8E8 ;
}
.light-theme{
  background: #E8E8E8;
  color: #171717 ;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html {
  scroll-behavior: smooth;
}
body {
  background: var(--bg-main);
  color: var(--text-primary);
  font-family: var(--font-inter), system-ui, sans-serif;
}
