@import "tailwindcss";

:root {
  --bg-main: #fafafa;
  --text-primary: #0f0f0f;
  --bg-secondary: #0f0f0f;
  --text-secondary: #fafafa;
  --invert: 0;
}

[data-theme="dark"] {
  --bg-main: #0f0f0f;
  --text-primary: #fafafa;
  --bg-secondary: #0f0f0f;
  --text-secondary: #fafafa;
  --invert: 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html {
  scroll-behavior: smooth;
}
body {
  background: var(--bg-main);
  color: var(--text-primary);
  font-family: var(--font-inter), system-ui, sans-serif;
}
