@import "tailwindcss";

:root {
  --bg-main: #FAFAFA;
  --text-primary: #0F0F0F;
  --text-secondary: rgba(15, 15, 15, 0.65);
}

[data-theme="dark"] {
  --bg-main: #0F0F0F;
  --text-primary: #FAFAFA;
  --text-secondary: rgba(250, 250, 250, 0.65);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F0F0F;
    --foreground: #ededed;
  }
}
html{
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, sans-serif;
}
